<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('head'); %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Unsplash API - Infinite Scroll</h1>
        <div id="loader" class="loader">
          <img src="/images/eclipse-loader.svg" alt="loader">
        </div>
       <div id="image-container" class="image-container"></div>
      </div>
    </div>
  </body>
</html>
